<form action="https://formspree.io/f/mwpozdjn" method="POST" class="row g-3 needs-validation contact-form mb-4" novalidate>
  <div class="col-md-4">
    <label for="firstName" class="form-label">First name</label>
    <input type="text" name="firstName" class="form-control" id="firstName" placeholder="Name" required>
    <div class="valid-feedback">Looks good!</div>
  </div>

  <div class="col-md-4">
    <label for="lastName" class="form-label">Last name</label>
    <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
    <div class="valid-feedback">Looks good!</div>
  </div>

  <div class="col-md-4">
    <label for="email" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="email" placeholder="email@example.com" required>
    <div class="invalid-feedback">Please provide a valid email.</div>
  </div>

  <div class="col-md-6">
    <label for="subject" class="form-label">Subject</label>
    <select name="subject" class="form-select" id="subject" required>
      <option selected disabled value="">Choose...</option>
      <option>Professional Inquiry</option>
      <option>Music Collaboration</option>
      <option>Other</option>
    </select>
    <div class="invalid-feedback">Please select a valid reason.</div>
  </div>

  <div class="col-12">
    <label for="message" class="form-label">Message</label>
    <textarea name="message" class="form-control" id="message" rows="5" maxlength="1000" placeholder="Write your message here..." required></textarea>
    <div class="invalid-feedback">Please enter a message.</div>
  </div>

  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="terms" required>
      <label class="form-check-label" for="terms">Agree to terms and conditions</label>
      <div class="invalid-feedback">You must agree before submitting.</div>
    </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" type="submit">Send</button>
  </div>
</form>