<header>
    <nav class="navbar navbar-expand-lg custom-navbar px-4">
      <div class="container-fluid">
        <!-- Static Logo on the left -->
        <img src="assets/logo.png" alt="Logo" class="logo-img">
  
        <!-- Brand Text and Nav Items Centered -->
        <div class="d-flex justify-content-center w-100">
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav text-center">
              <li class="nav-item">
                <a class="navbar-text" routerLink="/home">Jan Mollet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/projects">Projects and Studies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/cv">CV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/music">Music</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/collaborate">Collaborate</a>
              </li>
            </ul>
          </div>
        </div>
  
        <!-- Navbar Toggler for Mobile -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
  </header>