<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
/>
<div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>About</h5>
          <p>Creating smarter, sustainable cities through technology and design.</p>
          <p>Exploring music through collaborations and original compositions.</p>
        </div>
        <div class="col-md-6">
          <h5>Quick Links</h5>
          <ul>
            <li><a href="/projects">Projects and Studies</a></li>
            <li><a href="/cv">Résumé</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/collaborate">Collaborate</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center green-footer">
            <p>&copy; 2025 Jan Mollet Molina. All rights reserved.</p>
          </div>
      </div>
      <div class="col-md-6">
        <div class="footer-social">
          <a href="https://www.instagram.com/jaansaax/" target="_blank" aria-label="Instagram">
            <i class="bi bi-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/in/jan-mollet-molina-1a4b50224/" target="_blank" aria-label="LinkedIn">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="https://www.youtube.com/@jaansaax" target="_blank" aria-label="YouTube">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </div>